# Byte-compiled / cache
__pycache__/
*.py[cod]
*.log

# Virtual environment
venv/

# PyCharm project files
.idea/

# OS files
.DS_Store
Thumbs.db

# Screenshots or large assets (optional)
assets/screenshots/
